<h1>Welcome to Family Market</h1>


<br>
<%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
<br>
<h2>Categories</h2>
<br>
<% @categories.each do |category| %>
    <ul>
    <li><%= link_to category.name.capitalize, category_path(category) %></li>
    </ul>
<% end %>
<br>
<h2>Listed Items</h2>
<br>
<% @items.each do |item| %>
    <ul>
    <li><%= link_to item.title, item_path(item) %> | <%= item.description %></li>
    </ul>
<% end %>
<br>
<%= link_to "Add Item",new_item_path %>
