<h1>Welcome <%= @user.email %></h1>


<h1>Items I have borrowed</h1>

<% list_borrowed_items(@user).each do |i| %>
    <%= i.title %>
<% end %>

<h1>My items</h1>
<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
    </tr>   
<% list_user_owned_items(@item_users).each do |i| %>
        <tr>
            <td><%= i.title %></td>
            <td><%= i.description %></td>
            <td><%= i.status %></td>
        </tr> 
<% end %>
</table>
<%= link_to "Add Item",new_item_path %>

<%= link_to "Back", "/" %>