<h1>Welcome <%= @user.email %></h1>


<h1>Items I have borrowed</h1>

<% binding.pry %>

<%= list_borrowed_items(@user).each{|i| i.title}  %>

<h1>My current free items</h1>

<%= list_user_owned_free_items(@item_users) %>

<h1>My current reserved items</h1>

<%= list_user_owned_reserved_items(@item_users) %>


<%= link_to "Add Item",new_item_path %>
