<h1>Welcome <%= @user.email %></h1>


<h1>Items I have borrowed</h1>
<table>
<tr>
    <th>Title</th>
    <th>Owner contact</th>
</tr>

<% list_borrowed_items(@user).each do |i| %>
    <tr>
    <td><%= i.title %></td>
    <td><%= i.get_user_email %></td>
    <td><%= button_to "Return", {:controller => :reserved_items, :action => 'destroy', :id => i.id}, :method => :delete  %></td>
    </tr>
<% end %>
</table>

<h1>My items</h1>
<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>Borrower</th>
    </tr>   
<% list_user_owned_items(@item_users).each do |i| %>
        <tr>
            <td><%= i.title %></td>
            <td><%= i.description %></td>
            <td><%= i.status %></td>
            <td><%= get_borrower(i) %></td>
        </tr> 
<% end %>
</table>
<br>
<%= link_to "Add Item", new_item_path %>
<br>
<%= link_to "Back", root_path %>