<h1>Welcome <%= @user.email %></h1>


<h2>My borrowed items</h2>

<%= render partial: "user_borrowed", locals: {user: @user} %><br>


<h2>My items</h2>

<%= render partial: "user_owned", locals: {item_users: @item_users} %><br>

<%= link_to "Add Item", new_item_path %>
<br>
<%= link_to "Back", root_path %>