<%= form_for(@item) do |f| %>

    <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <br>
    <div class="field">
        <%= f.label :item_description %>
        <%= f.text_area :description %>
    </div>
    <br>
    <div class="field">
        <%= f.label :category %>
        <%= f.text_field :category_name, list: "categories_autocomplete" %>
        <datalist id="categories_autocomplete">
            <% Category.all.each do |category| %>
                <option value="<%= category.name %>">
            <% end %>
        </datalist>
    </div>
    <br>
    <%= f.submit %>
<% end %>
