<%= form_for(@item) do |f| %>

    <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <br>
    <div class="field">
        <%= f.label :item_description %>
        <%= f.text_area :description %>
    </div>
    <br>
    <div class="field">
        <%= f.label :tag %>
        <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
        <%= f.fields_for :tags, @item.tags.build do |tags_fields| %>
            <%= tags_fields.text_field :name %>
        <% end %>
    </div>
    <br>
    <div class="field">
        <%= f.label :category %>
        <%= f.text_field :category_name, list: "categories" %>
        <datalist id="categories">
            <% Category.all.each do |category| %>
                <option value="<%= category.name %>">
            <% end %>
        </datalist>
    </div>
    <br>
    <%= f.submit %>
<% end %>
