<%= form_for(@item) do |f| %>

    <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <br>
    <div class="field">
        <%= f.label :item_description %>
        <%= f.text_area :description %>
    </div>
    <br>
    <div class="field">
        <%= f.collection_select(:category_id, Category.all, :id, :name) %>
    </div>
    <br>
    <%= f.submit %>
<% end %>
